<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./source/Autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd" cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="essentials">
            <file>tests/0-essentials/autoloader.php</file>
        </testsuite>
        <testsuite name="library">
            <file>tests/1-library/secret.php</file>
        </testsuite>
        <testsuite name="encoders">
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./source</directory>
        </include>
    </source>
</phpunit>
